# .gitignore

# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
/coverage

# Production
/dist
/build

# Misc
.DS_Store
.env
.env.local
.env.*.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.vscode/
.idea/
*.swp
*.swo
*~

# Prisma
/prisma/migrations/
.env.test
.prisma/

# Uploads
/uploads

# OS
Thumbs.db
.AppleDouble
.LSOverride